@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('http://fonts.cdnfonts.com/css/poppins');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #FAFAFA;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-family: 'Lobster Two', cursive;
}